img {width:30%;
	border-top: 1px dotted darkseagreen;
    border-right: 1px dotted darkseagreen;
    border-bottom: 1px dotted darkseagreen;
    border-left: 1px dotted darkseagreen;
     }
font-family: 'Merriweather', serif;